.jumbotron {
    background-image: url("../images/home.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
  }

#jquery {
  margin-bottom: 18px;
}

#greensock, 
#express {
  height: 32px;
  width: 32px;
  margin-bottom: 16px;
}

#firebase {
  height: 32px;
  width: 24px;
  margin-bottom: 16px;
}
